<h1 id="main">Equipa A - Associar sítios web</h1>

<p>você está aqui: <a href="index.html">ams</a> &gt; <a href="equipas.html">equipas</a> &gt; equipa A</p>

<p>Equipa A</p>

<h2>Associar sítios web</h2>

<p><label>Procurar sítios web a associar à equipa: <input type="text"></label></p>

<table>
<caption id="listagem-de-sitios-web-associados-a-equipa">Listagem de sítios web associados à equipa</caption>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:center; width:5%"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Sítio Web</th>
  <th style="text-align:left;">URL</th>
  <th style="text-align:center;">
    <label for="select" class="visually-hidden">selecionar todos</label> <input id="select" type="checkbox">
  </th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">ARTE</td>
  <td style="text-align:left;"><a class="autolink" href="https://www.arte.gov.pt">https://www.arte.gov.pt</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">Acessibilidade Gov</td>
  <td style="text-align:left;"><a class="autolink" href="https://acessibilidade.gov.pt">https://acessibilidade.gov.pt</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
</tbody>
</table>

<p>Funções: <button>Apagar sítio Web</button></p>

<p><button class="btn btn-primary my-5">Guardar e sair</button> <button>Sair sem guardar</button></p>