<h1 id="main">Nova Equipa</h1>

<p>você está aqui: <a href="index.html">ams</a> &gt; <a href="equipas.html">equipas</a> &gt; nova equipa</p>

<p><em>Nota: as equipas estão disponíveis apenas para utilizadores MyMonitor</em></p>

<p>Uma equipa permite associar diferentes utilizadores, formando uma equipa, que acede a um ou muitos sítios web. </p>

<p><label>Nome da Equipa: <input type="text"></label></p>
<p>Não é obrigatório associar utilizadores ou sítios web no momento da criação da equipa.</p>

<p><label>Procurar utilizador a associar: <input type="text"></label></p>

<table>
<caption id="listagem-de-utilizadores-associados-a-equipa">Listagem de utilizadores associados à equipa</caption>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Utilizador</th>
  <th style="text-align:center;">Aplicação</th>
  <th style="text-align:center;">(selecionar <input type="checkbox"> todos)</th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">User 3</td>
  <td style="text-align:center;">MyMonitor</td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">User 4</td>
  <td style="text-align:center;">MyMonitor</td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
</tbody>
</table>

<p>Funções: <button>Apagar Utilizador</button></p>

<p><label>Procurar sítio web a associar: <input type="text"></label></p>

<table>
<caption id="listagem-de-sitios-web-associados-a-equipa">Listagem de sítios web associados à equipa</caption>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Sítio Web</th>
  <th style="text-align:left;">URL</th>
  <th style="text-align:center;">(selecionar <input type="checkbox"> todos)</th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">ARTE</td>
  <td style="text-align:left;"><a class="autolink" href="https://www.arte.gov.pt">https://www.arte.gov.pt</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">Acessibilidade Gov</td>
  <td style="text-align:left;"><a class="autolink" href="https://acessibilidade.gov.pt">https://acessibilidade.gov.pt</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
</tbody>
</table>

<p>Funções: <button>Apagar sítio Web</button></p>

<p>Funções: <button class="btn btn-primary">Guardar e sair</button> <button>Sair sem guardar</button></p>