<h1 id="main">MyMonitor do User 3</h1>

<p>você está aqui: <a href="index.html">ams</a> &gt; <a href="utilizadores.html">utilizadores</a> &gt; MyMonitor do utilizador</p>

<p>Os sítios web abaixo listados são os que atualmente estão a ser geridos pelo User 3. A visão aqui apresentada é a visão do User 3. </p>

<p>Filtrar sítios web: <input type="text"></p>

<table>
<caption id="sitios-web-do-utilizador-mymonitor-user-3">Sítios Web do Utilizador MyMonitor User 3</caption>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Nome</th>
  <th style="text-align:left;">URL</th>
  <th style="text-align:center;">Última atualização</th>
  <th style="text-align:center;">Nº pags (avaliadas)</th>
  <th style="text-align:center;">Importar</th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">autenticacao.Gov</td>
  <td style="text-align:left;"><a class="autolink" href="https://www.autenticacao.gov.pt">https://www.autenticacao.gov.pt</a></td>
  <td style="text-align:center;">29/06/2026</td>
  <td style="text-align:center;">37(37)</td>
  <td style="text-align:center;"><button>Importar</button></td>
</tr>
</tbody>
</table>