<h1 id="main">Utilizador 3 - Associar equipas</h1>

<p>você está aqui: <a href="index.html">ams</a> &gt; <a href="equipas.html">equipas</a> &gt; utilizador 3</p>

<p>Utilizador 3</p>

<h2>Associar equipas</h2>

<p><label>Procurar equipa a associar ao utilizador: <input type="text"></label></p>

<table>
<caption id="listagem-de-equipas-associados-a-utilizador">Listagem de equipas associadas ao utilizador</caption>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:center;"/>
<col style="text-align:center; width:5%"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Equipa</th>
    <th style="text-align:center;">
    <label for="select" class="visually-hidden">selecionar todos</label> <input id="select" type="checkbox">
  </th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">Equipa A</td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">Equipa B</td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
</tbody>
</table>

<p>Funções: <button>Apagar Equipa</button></p>

<p><button class="btn btn-primary my-5">Guardar e sair</button> <button>Sair sem guardar</button></p>