<h1 id="main">Utilizadores</h1>

<p>você está aqui: <a href="ver_gerir_global.txt">ams</a> &gt; utilizadores</p>

<p>Abaixo encontra a listagem de todos os utilizadores registados no AdminMonitorSuite, num total de 4 utilizadores.</p>

<h2 id="lista-de-utilizadores">Lista de Utilizadores</h2>

<p><button type="button" class="btn btn-primary">🆕 Novo Utilizador</button> </p>

<p><label>Filtrar utilizadores: <input type="text"></label></p>

<table>
<caption id="listagem-de-utilizadores">Listagem de utilizadores</caption>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:center;"/>
<col style="text-align:left;"/>
<col style="text-align:center;"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Utilizador</th>
  <th style="text-align:left;">Aplicação</th>
  <th style="text-align:left;">Equipas</th>
  <th style="text-align:center;">Sítios Web</th>
  <th style="text-align:left;">✎</th>
  <th style="text-align:center;"><label>seleção (<input type="checkbox"> todos)</label></th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">User 1</td>
  <td style="text-align:left;">AMS</td>
  <td style="text-align:left;">-</td>
  <td style="text-align:center;">-</td>
  <td style="text-align:left;"><a href="#">✎</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">User 2</td>
  <td style="text-align:left;">AMS</td>
  <td style="text-align:left;">-</td>
  <td style="text-align:center;">-</td>
  <td style="text-align:left;"><a href="#">✎</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">User 3</td>
  <td style="text-align:left;">MyMonitor <a href="#" title="visualizar MyMonitor">⏿</a></td>
  <td style="text-align:left;">5 equipas <a href="#" title="ver ou associar equipas">🔗</a></td>
  <td style="text-align:center;">10 sítios <a href="#" title="ver ou associar sítios web">🔗</a></td>
  <td style="text-align:left;"><a href="#">✎</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">User 4</td>
  <td style="text-align:left;">MyMonitor <a href="#" title="visualizar MyMonitor">⏿</a></td>
  <td style="text-align:left;">10 equipas <a href="#" title="ver ou associar equipas">🔗</a></td>
  <td style="text-align:center;">5 sítios <a href="#" title="ver ou associar sítios web">🔗</a></td>
  <td style="text-align:left;"><a href="#">✎</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
</tbody>
</table>

<p>Funções: <button>Apagar Utilizador</button></p>