<h1 id="main">Equipas</h1>

<p>você está aqui: <a href="index.html">ams</a> &gt; equipas</p>

<p>Abaixo encontra a listagem de todas as equipas registadas no AMS, num total de 2 equipas.</p>

<h2 id="lista-de-utilizadores">Lista de Equipas</h2>

<p><a href="nova-equipa.html" class="btn btn-primary">🆕 Nova Equipa</a></p>

<p><label>Filtrar equipas: <input type="text"></label></p>

<table>
<caption id="listagem-de-equipas">Listagem de equipas</caption>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:center;"/>
<col style="text-align:left; width: 5%"/>
<col style="text-align:center; width: 5%"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Equipas</th>
  <th style="text-align:left;">Utilizadores</th>
  <th style="text-align:center;">Sítios Web</th>
  <th style="text-align:left;">✎</th>
  <th style="text-align:center;"><label for="select" class="visually-hidden">selecionar todos</label> <input id="select" type="checkbox"></th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">Equipa A</td>
  <td style="text-align:left;">5 <a href="equipa-utilizadores.html" title="ver ou associar utilizadores">🔗</a></td>
  <td style="text-align:left;">10 <a href="equipa-sitios.html" title="ver ou associar sítios web">🔗</a></td>
  <td style="text-align:left;"><a href="#">✎</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
<tr>
  <td style="text-align:left;">Equipa B</td>
  <td style="text-align:left;">10 <a href="equipa-utilizadores.html" title="ver ou associar utilizadores">🔗</a></td>
  <td style="text-align:left;">5 <a href="equipa-sitios.html" title="ver ou associar sítios web">🔗</a></td>
  <td style="text-align:left;"><a href="#">✎</a></td>
  <td style="text-align:center;"><input type="checkbox"></td>
</tr>
</tbody>
</table>

<p>Funções: <button>Apagar Equipa</button></p>